---
import "../styles/global.css";
const { title = "Portfolio", description = "Portfolio cybersécurité" } = Astro.props;
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
   <header class="site-header">
  <div class="container nav-wrap">
    <a class="brand" href="/">Abass YOUSSOUF</a>

    <nav class="nav">
      <a class="nav-link" href="/">Accueil</a>
      <a class="nav-link" href="/about">Projets</a>
      <a class="nav-link" href="/blog">Contact</a>
    </nav>
  </div>
</header>

    <main>
      <slot />
    </main>

    <footer class="site-footer">
      <p>© 2026 Abass Youssouf</p>
    </footer>
  </body>
</html>
